{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles Públicos{% endblock %}
{% block content %}

<main role="main">
  <div class="container mb-4">
    {% for page in profile_list|dictsort:'id' reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{profile.user}}</h2>
          <div>
            <p>{{profile.avatar|striptags|safe|truncatechars:"200"}}</p>
            
              

              
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
